body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Config--container {
  padding: 20px;
}

.Config--keys {
  display: flex;
}

.Config--Numbers--container {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.Config--Alphabet--container {
  display: flex;
  flex-wrap: wrap;
}

.Config--Item {
  max-width: 500px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.Config--Item--Input {
  width: 100px !important;
}

.Config--Item--Label {
  width: 50px;
  text-align: center;
}

.TypeArea--container {
  height: calc(100% - 7%);
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.TypeArea--english--container, .TypeArea--unicode--container {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  width: 100%;
}

.TypeArea--english--container {
  flex: 1;
  height: 100%;
}

 .TypeArea--unicode--container {
   flex: 1;
   height: 100%;
 }

 .TypeArea--english, .TypeArea--unicode {
   height: 100% !important;
   width: 100%;
   padding: 5px;
 }

.Main--container {
  height: 90vh;
  width: 100%;
}

.Home--container {
  height: 100%;
}

.Keyboard--keyboard {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.PreLogin--container {
  /* padding-top: 100px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}