.PreLogin--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.PreLogin--hero {
  padding-top: 10px;
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  background: #e7e7e7;
}

.PreLogin--footer {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carousal--container {
  align-self: center;
  /* width: 100%; */
}

.Carousal--Slider {
  width: 200px;
  height: 200px;
}